:local(.board) {
    display: flex;
    flex-direction: row;
    width: 99px;
}

:local(.board:after) {
    clear: both;
    content: "";
    display: table;
}

:local(.board-row:after) {
    clear: both;
    content: "";
    display: table;
}